<% var data = {
  title: "GrandCore | Получить инвайт"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-get-invite page-container">
  <h2 class="page-get-invite__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
  
  <p class="page-get-invite__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos fuga tenetur laudantium exercitationem sapiente eaque
    ullam, saepe ducimus blanditiis unde pariatur iure ad itaque obcaecati aliquid molestiae, quo repudiandae magnam.
  </p>

  <p class="page-get-invite__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos fuga tenetur laudantium exercitationem sapiente eaque
    ullam, saepe ducimus blanditiis unde pariatur iure ad itaque obcaecati aliquid molestiae, quo repudiandae magnam.
  </p>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %> 