<% var data = {
  title: "GrandCore | Страница"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-list">
  <div class="page-list-content">
    <section class="page-list-content-list-header img">
       <div class="page-list-content-list-header-row">
           <h1 class="page-list-content-list-header-row__h1">
              Софт
           </h1>
       </div>
        <div class="page-list-content-list-header-col">
          <div class="page-list-content-list-header-col-1">
            <h3 class="page-list-content-list-header-col-1__h3">
               Найдите единомышленников и работайте над любыми открытыми проектами вместе
            </h3>
         </div>
        </div>
    </section>
    <section class="page-list-content-wrapper">
      <div class="page-list-content-wrapper-sidebar">
        <div class="page-list-content-wrapper-sidebar-menutitle">
          <h2 class="page-list-content-wrapper-sidebar-menutitle__h2">
            Отфильтровать результаты
          </h2>
        </div>
        <div class="page-list-content-wrapper-sidebar-filters">

          <ul>
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Софт</li>

            <li class="page-list-content-wrapper-sidebar-filters-section-title">Игры
              <ul>
                <li>Mobile</li>
                <li>Action RPG</li>
                <li>Role-playing</li>
                <li>MMO RPG</li>
                <li>Strategy</li>
                <li>Simulation</li>
              </ul>
            </li>
    
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Онлайн-сервисы
              <ul>
                <li>Windows</li>
                <li>Hack</li>
                <li>Security</li>
                <li>Corporate</li>
                <li>Social</li>
                <li>Linux</li>
              </ul>
            </li>
            
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Изделия</li>

            <li class="page-list-content-wrapper-sidebar-filters-section-title">Тексты</li>
          </ul>

        </div>
      
      </div>
        <div class="page-list-content-wrapper-conteiner">


          <div class="page-list-content-wrapper-conteiner-top">
            <div class="page-list-content-wrapper-conteiner-top-search">
              <div class="page-list-content-wrapper-conteiner-top-search-field">
                <div class="page-list-content-wrapper-conteiner-top-search-field-icon"></div>
                <input class="page-list-content-wrapper-conteiner-top-search-field-input" placeholder="Поиск"></input>
              </div>
            </div>
            <div class="page-list-content-wrapper-conteiner-top-makefilter">
              <div class="page-list-content-wrapper-conteiner-top-makefilter-field">
                <div class="page-list-content-wrapper-conteiner-top-makefilter-field-icon"></div>
                <div class="page-list-content-wrapper-conteiner-top-makefilter-field-text"><p>Самые популярные</p></div>
              </div>
            </div>
          </div>


          <div class="page-list-content-wrapper-conteiner-row">

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-1.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>1380%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status-active">ONGOING!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-2.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-active">
                  <p>32 765 $ <span>80%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-active-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-3.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>610%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>
          </div>


          <div class="page-list-content-wrapper-conteiner-row">

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-4.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-5.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-6.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>
          </div>


          <div class="page-list-content-wrapper-conteiner-row">

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-7.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img"src="../../img/list-card-8.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner-status">ENDED!</div>
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="../../img/list-card-9.png">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4">
                  Мы хотим вывести идеи Open Source на качественно 
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description">
                  Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу...
                </p>
                <div class="page-list-content-wrapper-conteiner-row-col-inside-donations">
                  <p>254 322$ <span>630%</span></p>
                  <div class="page-list-content-wrapper-conteiner-row-col-inside-donations-progress"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="page-list-content-wrapper-conteiner-row-download">
            <button class="page-list-content-wrapper-conteiner-row-download-btn">Загрузи ещё</button>
          </div>
        </div>
    </section>
</div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
