
    <footer class="footer">
      <a class="footer__logo" href="index.html"></a>

      <nav class="footer-nav">
        <span class="footer-nav__item footer-nav__copy">2019-2020 MIT</span>
        <a class="footer-nav__item item" href="about.html">О фонде</a>
        <a class="footer-nav__item item" href="index.html">Проекты</a>
        <a class="footer-nav__item item" href="index.html">Участники</a>
        <a class="footer-nav__item item" href="index.html">Спонсоры</a>
        <a class="footer-nav__item item" href="index.html">Политика конфиденциальности</a>
      </nav>
      
      <div class="footer-socials">
        <a class="footer-socials__item" href="index.html">
          <img src="img/social-icons/vk.svg" alt="vk">
        </a>
        <a class="footer-socials__item" href="index.html">
          <img src="img/social-icons/youtube.svg" alt="youtube">
        </a>
        <a class="footer-socials__item" href="index.html">
          <img src="img/social-icons/telegram.svg" alt="telegram">
        </a>
        <a class="footer-socials__item" href="index.html">
          <img src="img/social-icons/email.svg" alt="email">
        </a>
      </div>

    </footer>

    <script src="js/bundle.js"></script>
  </body>
</html>
